*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 2000px;
    background-color: turquoise;
    background-attachment: fixed;
}
.board{
    margin: 50px auto;
    width: 640px;
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
.board .row{
	width: 100%;
}
.board .row .item{
	width: 80px;
	background-color: white;
	height: 80px;
}
/* ==============================================  */
.board .row:nth-child(even) .item:nth-child(odd){
    background : black;
}
.board .row:nth-child(odd) .item:nth-child(even){
    background : black;
}